{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
          <h1>Carrito: 1 productos</h1>
        </div>
        <main class="row">
          <div class="col-md-8 order-md-1">
            <div class="card mt-1 border-success"></div>
            <img class="card-img-top" src="elementos/peluchefloppa.jpg" alt="Brit care dog adult large breed salmon and potato 12kg" style="max-width: 20%;">
            <div class="card-body">
              <h3 class="card-title">Poluche FLoppa</h3>
              <div class="card-title"> <label class="h5">$</label><label class="h5" id="cardPrice">15000</label></div>
              <a href="#" class="card-link">Eliminar</a>
            </div>
              
          </div>
          <div class="col-md-4 order-md-2">
            <h2>Productos totales: (1)</h2>
            <p class="lead mt-2"> <div class="card-title"> <label class="h5">$</label><label class="h5" id="cardPrice2">15000</label></div>
            <a href="pagar.html" class="btn btn-danger placeholder-glow">Realizar pago y envío</a>
            <a href="index.html" class="btn btn-primary">Seguir comprando</a>
          </div>
    
    
        </main>
{% endblock %}